<header>
  <h1>Angular Carousel</h1>
</header>

<main>
  <section class="carousel">
    <!-- Iterate over the slides array and render each slide -->
    <div
      *ngFor="let slide of slides; let i = index"
      class="carousel-item"
      [class.active]="i === currentSlideIndex"
    >
      <!-- Left arrow button to navigate to the previous slide (only shown if there's more than one slide) -->
      <button
        class="arrow left-arrow"
        (click)="previousSlide()"
        *ngIf="slides.length > 1"
      >
        &#10094;
      </button>
      <!-- Display the slide image -->
      <img [src]="slide.imageUrl" alt="Slide image" />
      <!-- Display the slide caption -->
      <div class="caption">Dynamic angular slide</div>
      <!-- Right arrow button to navigate to the next slide (only shown if there's more than one slide) -->
      <button
        class="arrow right-arrow"
        (click)="nextSlide()"
        *ngIf="slides.length > 1"
      >
        &#10095;
      </button>
    </div>
    <!-- Display a message when there are no slides -->
    <div *ngIf="slides.length === 0" class="no-slides-message">
      <h2>No slides are available</h2>
    </div>
    <!-- Carousel indicators (only shown if there's at least one slide) -->
    <div class="carousel-indicators" *ngIf="slides.length > 0">
      <span
        *ngFor="let slide of slides; let i = index"
        (click)="goToSlide(i)"
        [class.active]="i === currentSlideIndex"
        class="dash"
      ></span>
    </div>
  </section>

  <!-- Display a list of added slides (only shown if there's at least one slide) -->
  <section *ngIf="slides.length > 0">
    <h4>Added slides</h4>
    <div class="slides-list">
      <div *ngFor="let slide of slides; let i = index" class="slide-item">
        <ul>
          <li>
            <span class="slide-caption">{{ slide.caption }}</span>
            <!-- Delete icon to remove the slide from the list -->
            <span class="material-icons delete-icon" (click)="deleteSlide(i)"
              >delete_outline</span
            >
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <h4>Add new slide</h4>
    <!-- Form to add a new slide -->
    <form (ngSubmit)="addSlide()">
      <label>Image url</label>
      <input
        type="text"
        [(ngModel)]="newSlide.imageUrl"
        name="imageUrl"
        placeholder="https://i.picsum.photos/id/552/900/500.jpg"
      />
      <label>Slide caption</label>
      <input
        type="text"
        [(ngModel)]="newSlide.caption"
        name="caption"
        placeholder="Singapore is another great hosting city"
      />
      <button type="submit">Add slide</button>
    </form>
  </section>
</main>

<footer>
  <!-- Footer content here -->
</footer>
